/node_modules
/public/build
/public/hot
/public/pdf
/public/storage
/public/img/pagos
/public/img/prensa
/public/img/proyectos
/public/img/propiedades
/public/img/premios
/public/img/estado-de-cuenta
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
